* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #f7f7f7;
  --color-green: #cceabb;
  --color-brown: #fdcb9e;
  --color-dark: #3f3f44;
}

table {
  width: 100%;
  text-align: center;
}

th,
td {
  padding: 0.2rem;
}

h3 {
  text-align: center;
  padding: 0.5em;
}

i {
  font-size: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-green);
  color: var(--color-white);
  /* font-family: 'Roboto Mono', monospace; */
}

button {
  font: inherit;
  display: inline;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-dark);
}

button:hover {
  background-color: var(--color-brown);
}

.header {
  background-color: var(--color-dark);
  width: 100%;
}

.header h1 {
  text-align: center;
  font-size: 3rem;
  padding: 0.5em;
}

.navbar {
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-dark);
  position: relative;
  display:flex;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7%;
  box-sizing: border-box;
}

.stats-containor,
.plot-containor {
  width: 47%;
  border-radius: 3px;
  box-shadow: 5px 10px 8px black;
}

.stats-containor {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  padding: 10px;
}

.plot-containor {
  padding: 10px;
  background-color: var(--color-dark);
  height: 380px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row1,
.row2 {
  color: var(--color-dark);
}

.row1 {
  background-color: var(--color-green);
}

.row2 {
  background-color: var(--color-brown);
}

.stats > * {
  width: 49%;
}

.semibold {
  font-weight: 600;
}

.dd {
  display: inline;
}

.dd button {
  text-align: left;
}

.ddLeft {
  width: 14em;
}

.ddLeft button {
  width: 14em;
}

.ddc {
  position: absolute;
  border-top:2px solid var(--color-dark);
  display: none;
  top: 31px;
  box-shadow: 0 8px 16px 0 #001010;
  z-index: 1;
}

.current {
  text-align:left;
}

.fas {
  font-size: 29px;
  height:100%;
}

.ddc button {
  display: block;
  width: 100%;
}

#symbol-dd:hover .ddc {
  display: block;
}

#interval-dd:hover .ddc {
  display: block;
}

#interval-dd-content {
  left:14em;
}

.plot {
  position: relative;
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.bar {
  position: absolute;
  background-color: var(--color-brown);
  border: 0.5px solid var(--color-dark);
  box-sizing: border-box;
}

.caret {
  font-size:1.3em;
  margin-right:7px;
}
